<div id="signup-container">

	<div>
		<h1>Create an Account</h1>
		<p>Join the best vinyl community</p>
	</div>

	<div>
		<a href="#">Sign in with <i class="fa fa-spotify"></i> Spotify</a><br>
		<span>-or-</span>
	</div>

	<% if @user.errors.any? %>
	  <div>
	    <h4><%= pluralize(@user.errors.count, "error") %> prevented you from signing up.</h4>
	    <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	      <li><%= msg.downcase %></li>
	      <% end %>
	    </ul>
	    </div>
	<% end %>

	<%= render 'form' %>
		


</div>