<h1>Signup</h1>

<% if @user.errors.any? %>
  <div>
    <h4><%= pluralize(@user.errors.count, "error") %> prevented you from signing up.</h4>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg.downcase %></li>
      <% end %>
    </ul>
    </div>
<% end %>

<%= render 'form' %>