@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,700italic);

$dark: #26272B;
$white: #f6f6f6;
$light: #ededed;
$blue: #4688F1;
$red: #FF0000;
$orange: #E87E0C;

$blue-gradient: linear-gradient(to right bottom,#10d6b7 0,#12a2df 100%);
$thumb-gradient: linear-gradient(to right bottom,#10d6b7 0,#12a2df 100%);

$margin: 16px;
$margin-percent: 2%;