@import "_variables.scss";

//INDEX OF ALL RECORDS
#add-search {
	padding: $margin * 2;
	display: flex;
	justify-content: center;
	background: $light;
	.btn.add {
		border: 2px solid $blue;
		background: transparent;
		color: $blue;
		// align-self: flex-end;
	}
	form {
		flex: 2;
		input[type="text"] {
			background: white;
			padding: $margin;
			border-radius: 2px;
			width: 40%;
		}
	}
}

div#records-container {
	padding: $margin*2 0;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 $margin;
		li {
			flex: 1;
			// flex-grow: 0;
			min-width: 210px;
			max-width: 250px;
			margin: 0 $margin;
			div.cover {
				width: 100%;
				background: linear-gradient(to right bottom,#10d6b7 0,#12a2df 100%);	
				border-radius: 2px;
				position:relative;
				overflow:hidden;
			    padding-bottom:100%;
			    img {
			    	position:absolute;
			    	height: 100%;
			    	width: 100%;
			    }
			}
		}
	}
}


//INDIVIDUAL RECORD
div#record-container {
	background: linear-gradient(to left top,#10d6b7 0,#12a2df 100%);
	color: $white;
	display: flex;
	div#record-data {
		flex: 2;
		display: flex;
		padding: $margin;
		div#record-left {
			flex: 1;
			padding: $margin;
			text-align: center;
			div.cover {
				background: linear-gradient(to left top,#10d6b7 0,#12a2df 100%);
				width: 100%;
				margin: 0 0 $margin;
				position:relative;
				overflow:hidden;
			    padding-bottom:100%;
				img {
					position:absolute;
			    	height: 100%;
			    	width: 100%;
			    	top: 0;
			    	left: 0;
				}
			}
		}
		div#record-right {
			flex: 1.5;
			padding: 0 $margin;
			p {
				margin: $margin/2 0;
				color: #777;
				font-size: .7em;
				font-style: italic;
			}
			h2 {
				font-size: 2.75em;
				font-weight: 700;
			}
			h3 {
				font-size: 1.75em;
				line-height: 1;
			}
		}
	}
	div#notes {
		flex: 1;
		padding: $margin*2;
		background: linear-gradient(to bottom right ,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 40%);
		input[type="submit"] {
			border: solid rgba(255,255,255,.35);
			border-width: 2px;
			background: none;
			font-size: .85em;
			padding: $margin/2;
			margin: $margin/4 0;
		}
		#other-stacks {
			margin: $margin 0;
		}
	}
}



