@import "_variables.scss";

* {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	line-height: 1.5em;
	border: none;
}

input {background: none; font-family: inherit; font-size: inherit;}


//LAYOUT
body {
	background: $white;
	font-family: lato, helvetica neue;
	color: $dark;
}

#container {
	
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

//UNIVERSAL
.btn {
	background: $blue;
	color: $white;
	border-radius: 2px;
	padding: $margin/1.25 $margin;
	margin: 0 0 0 $margin/4;
	font-weight: 400;
	transition: all .2s;
	cursor: pointer;
	&:hover {
		background: $blue/1.15;
	}
}

.form-page {
	background: $blue-gradient;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $margin*4;
	form {
		display: flex;
		flex-direction: column;
		width: 40%;
		font-size: 1.5em;
		input {
			background: $white;
			padding: $margin;
			margin: $margin;
			border-radius: 2px;
		}
		input[type="submit"] {
			width: 50%;
			align-self: center;
			border: 2px solid $white;
			background: transparent;
			color: $white;
			font-weight: 700;
			cursor: pointer;
		}
		input[type="file"] {
		  	background: none;
		  	padding: 0;
		  	font-size: .5em;
		}
	}
}